html {
  font-family: Verdana;
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h1,
  a {
    font-weight: normal;
  }

a {
  color: aquamarine;
  font-size: 16px;
}

.guide {
  font-weight: 300;
  font-size: 42px;
}

.memory {
  font-size: 21;
  color: gray;
  font-weight: normal;
}

.copyright {
  color: gray;
  text-align: right;
  font-weight: normal;
}
